<modal title="Login form" visible="contactModalVisible">
    <form role="form" ng-submit="send();">
        <div class="form-group">
            <label for="sip">Sip</label>
            <input type="text" class="form-control" id="sip" placeholder="Enter sip"  name="sip" ng-model="element.sip" />
        </div>
        <div class="form-group">
            <label for="phone">Phone*</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter Phone" name="phone" ng-model="element.phone" required="required" />
        </div>
        <div class="form-group">
            <label for="firstName">First Name*</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="firstName" ng-model="element.firstName" required="required" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name*</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName" ng-model="element.lastName" required="required" />
        </div>

        <div class="form-group">
            <label for="picture">Picture Url</label>
            <input type="text" class="form-control" id="picture" placeholder="Enter Picture Url"  name="picture" ng-model="element.picture" />
        </div>

        <div class="form-group">
            <label for="isActive">Is Active</label>
            <input type="checkbox" id="isActive" placeholder="isActive" name="isActive" ng-model="element.isActive" />
        </div>

        <input type="hidden" class="form-control" name="guid" />
        <input type="hidden" class="form-control" name="index" />
        <input type="hidden" class="form-control" name="registered" />
        <input type="hidden" class="form-control" name="_id" />

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</modal>