<modal title="Contact detail" visible="diffContactModalVisible">

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt></dt>
                <dd><img ng-src="{{conflictCurrent.server.picture}}" alt=""/></dd>

                <dt>Sip</dt>
                <dd>{{conflictCurrent.server.sip}}</dd>

                <dt>Phone</dt>
                <dd>{{conflictCurrent.server.phone}}</dd>

                <dt>First</dt>
                <dd>{{conflictCurrent.server.firstName}}</dd>

                <dt>Last</dt>
                <dd>{{conflictCurrent.server.lastName}}</dd>

                <dt>Active</dt>
                <dd ng-show="conflictCurrent.server.isActive"><i class="glyphicon glyphicon-ok"/></dd>
                <dd ng-show="!conflictCurrent.server.isActive"><i class="glyphicon glyphicon-remove"/></dd>

                <dt>Created</dt>
                <dd>{{conflictCurrent.server.registered |unixDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt></dt>
                <dd><img ng-src="{{conflictCurrent.local.picture}}" alt=""/></dd>

                <dt>Sip</dt>
                <dd>{{conflictCurrent.local.sip}}</dd>

                <dt>Phone</dt>
                <dd>{{conflictCurrent.local.phone}}</dd>

                <dt>First</dt>
                <dd>{{conflictCurrent.local.firstName}}</dd>

                <dt>Last</dt>
                <dd>{{conflictCurrent.local.lastName}}</dd>

                <dt>Active</dt>
                <dd ng-show="conflictCurrent.local.isActive"><i class="glyphicon glyphicon-ok"/></dd>
                <dd ng-show="!conflictCurrent.local.isActive"><i class="glyphicon glyphicon-remove"/></dd>

                <dt>Created</dt>
                <dd>{{conflictCurrent.local.registered |unixDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</dd>
            </dl>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="conflictRewrite()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> rewrite from server
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="conflictSkip()">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> save local
        </button>
    </div>

</modal>