<modal title="Contact detail" visible="showContactModalVisible">

    <div class="row">
        <div class="col-md-4">
            <img ng-src="{{element.picture}}" alt=""/>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Sip</dt>
                <dd>{{element.sip}}</dd>

                <dt>Phone</dt>
                <dd>{{element.phone}}</dd>

                <dt>First</dt>
                <dd>{{element.firstName}}</dd>

                <dt>Last</dt>
                <dd>{{element.lastName}}</dd>

                <dt>Active</dt>
                <dd ng-show="element.isActive"><i class="glyphicon glyphicon-ok" /></dd>
                <dd ng-show="!element.isActive"><i class="glyphicon glyphicon-remove" /></dd>

                <dt>Created</dt>
                <dd>{{element.registered |unixDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</dd>
            </dl>
        </div>
    </div>
</modal>