<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modal-fix.css" rel="stylesheet">
    <title>Contacts</title>
</head>
<body ng-app="YoApp" ng-controller="ContactsCtrl">

<h1>Clients</h1>
<nav class="navbar navbar-default">
    <div class="btn-group btn-group-justified">
        <a href="#" ng-click="syncContacts();" class="btn btn-default" role="button">Sync</a>
        <a href="#" ng-click="addContact();" class="btn btn-default" role="button">Add</a>
    </div>
</nav>

<div>
    <table class="table">
        <tbody>
        <tr ng-repeat="(key, value) in clients">
            <!--<th scope="row">{{value.index}}</th>-->
            <td>{{value.lastName}}</td>
            <td>{{value.firstName}}</td>
            <td>{{value.phone}}</td>
            <td>
                <a  title="Show"  href="javascript:void(0)" ng-click="show(value);">
                    <i class=" glyphicon glyphicon-search"></i>
                </a>
                <a title="Edit" href="javascript:void(0)" ng-click="edit(value);">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a title="Remove" href="#" ng-click="delete(value);">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div ng-include="contactModal"></div>
<div ng-include="showContactModal"></div>
<div ng-include="diffContactModal"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/moment.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>

<script src="js/app/app.js"></script>
<script src="js/app/filter/dateFormat.js"></script>
<script src="js/app/directives/modal.js"></script>
<script src="js/app/contacts/contacts.js"></script>
</body>
</html>